* {
    background-color: rgb(59, 58, 58);
    background-image: url("https://img.freepik.com/free-photo/abstract-image-disco-light-stage-background_106386-144.jpg?size=626&ext=jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
 img {
     max-width: 300px;
     max-height: auto;
     display: block;
     margin-left: auto;
     margin-right: auto;
     padding-bottom: 20px;
 }

 .heading {
     font-family: cursive;
     color: cornflowerblue;
     text-align: center;
     font-size: 25px;
     text-decoration: underline;
     padding-top: 20px;
     padding-bottom:20px;
 }

 p {
     margin-top: 50px;
     margin-bottom: 50px;
     margin-left: 30px;
     margin-left: 30px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     color: rgba(255, 255, 255, 0.719);
     font-size: 20px;
 }

 #title {
     font-family: fantasy;
     color: cornflowerblue;
     font-weight: bold;
     text-align: center;
 }
 
 #foot {
     color: white;
     padding-top: 25px;
     padding-left: 30px;
 }

 div {
     border-style: double;
     border-color: rgb(155, 154, 154);
 }

 #intro {
     font-size: 25px;
 }